@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/public/fonts/BarlowMedium.ttf");
  font-family: "Barlow";
  font-weight: 500;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/public/fonts/BarlowRegular.ttf");
  font-family: "Barlow";
  font-weight: 400;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/public/fonts/BarlowBold.ttf");
  font-family: "Barlow";
  font-weight: 700;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/public/fonts/BayonRegular.ttf");
  font-family: "Bayon";
  font-weight: 400;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/public/fonts/BarlowSemiBold.ttf");
  font-family: "Barlow";
  font-weight: 600;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/public/fonts/BarlowExtraBold.ttf");
  font-family: "Barlow";
  font-weight: 800;
}
